name: build and release knlcli
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' #trigger on tag like `v0.0.1`
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build knlcli
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Extract Tag
        run: echo "TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: setup go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      
      - name: go mod download
        run: go mod download

      - name: build knlcli
        run: make build KNLCLIVER=${{ env.TAG }}    

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} \
            --title "Release ${{ github.ref_name }}" \
            --notes "Automated release for ${{ github.ref_name }}" \
            knlcli-linux-x86-64